
.dashboard-layout {
  display: flex;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #0d1321;
  color: #f0ebd8;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}
